.navbar-container {
  position: fixed;
}

.navbar-list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  list-style: none;
}

.nav-user-profile-pic {
  border-radius: 100px;
  height: 48px;
  width: 48px;
}

@media screen and (max-width: 1000px) {
  .navbar-list {
    flex-direction: row;
  }

  .navbar-container {
    background-color: rgba(255, 255, 255, 0.726);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px;
  }

  .navbar-container.dark {
    background-color: #080f0f3d;
  }
}
