.glance-container {
  height: 100%;
  overflow-y: scroll;
  padding: 20px;

  -webkit-box-shadow: inset 14px 40px 32px -47px rgba(0, 174, 255, 1);
  -moz-box-shadow: inset 14px 40px 32px -47px rgba(0, 174, 255, 1);
  box-shadow: inset 14px 40px 32px -47px rgba(0, 174, 255, 1);

  display: flex;
  flex-direction: column;
  gap: 20px;

  font-family: "Roboto", sans-serif;
}

.glance-container.dark {
  -webkit-box-shadow: inset 14px 40px 32px -47px rgb(0, 255, 200);
  -moz-box-shadow: inset 14px 40px 32px -47px rgba(0, 255, 200, 1);
  box-shadow: inset 14px 40px 32px -47px rgba(0, 255, 200, 1);

  color: white;
}

.glance-current-date {
  font-size: large;
  font-weight: lighter;
}
